name: "debug_evals"
ckpt_dir:   /mnt/data/dump/ImageNet_1B_BaseLine_128/checkpoints//0000060000
dump_dir: /home/haozhe/project/lingua_videogen
generator:
  guidance_scale: 5.0
  dtype: bf16
  resolution: 128
  in_channel: 3
  show_progress: False
  inference_steps: 25
scheduler:
    num_train_timesteps: 1000
    base_image_seq_len: 256
    base_shift: 0.5
    max_image_seq_len: 4096
    max_shift: 1.15
    shift: 3.0 # need consider 3.0 or 1.0
    weighting_scheme: 'logit_normal'
    logit_mean: 0.0
    logit_std: 1.0
    mode_scale: 1.29
