# Template config, need to change dump_dir, data.root_dir and data.tokenizer.path

dump_dir: /mnt/data/tmp/
name: "debug"
steps: 1000
seed: 777
optim:
    lr: 5e-4
    warmup: 2000
    lr_min_ratio: 0.000001
    clip: 10.0

env:
    ENABLE_INTRA_NODE_COMM: '0' # disable one default seeting here, as have some error in our cluster


distributed:
    fsdp_type: full_shard
    dp_shard: 4
    dp_replicate: 1
    compile: false
    model_dtype: bf16
    matmul_allow_tf32: false
    selective_activation_checkpointing: false
    tp_size: 1

model:
    transformer:
        dim: 2048
        n_layers: 25
        n_heads: 16
        ada_dim: 512
        patch_size: 2
        in_channels: 16
        out_channels: 16
        tmb_size: 256
        cfg_drop_ratio: 0.1
        num_classes: 1000
        max_seqlen: 1000
    scheduler:
        num_train_timesteps: 1000
        base_image_seq_len: 256
        base_shift: 0.5
        max_image_seq_len: 4096
        max_shift: 1.15
        shift: 3.0 # need consider 3.0 or 1.0
        weighting_scheme: 'logit_normal'
        logit_mean: 0.0
        logit_std: 1.0
        mode_scale: 1.29
    vae:
        pretrained_model_name_or_path: 'black-forest-labs/FLUX.1-dev'

data:
    root_dir: '/mnt/data/imagenet'
    batch_size: 84
    image_size: 256
    num_workers: 8

profiling:
    run: true

checkpoint:
    dump:
        every: 100
        keep: 1
    eval:
        every: 100
        keep: 1

logging:
    freq: 10

# eval:
#     generator:
#         max_tokens: 8192
#         dtype: bf16
#         temperature: 1.0
#         top_p: 0.95
#     harness:
#         tasks:
#             - hellaswag
#             - piqa
#             - task: nq_open
#               num_fewshot: 5
#     validation:
#         max_steps: 100
