# Template config, need to change dump_dir, data.root_dir and data.tokenizer.path
# torchrun --standalone --nnodes 1 --nproc-per-node 4 -m apps.main.train config=apps/main/configs/pollux_v0.5.yaml

name: "ImageNet_1B_BaseLine_256_Flux_LLAMA_Pre_Train_v0.4_configB"
output_dir: "/mnt/data/dump"
dump_dir: "" # Mingchen: No need to put now! I revise the code to flexible put `/mnt/data/dump` + name for dump_dir
steps: 1000000
seed: 777
optim:
    lr: 1.4e-4
    warmup: 2000
    lr_min_ratio: 0.000001
    clip: 10.0
    weight_decay: 0.01
env:
    ENABLE_INTRA_NODE_COMM: '0' # disable one default seeting here, as have some error in our cluster

distributed:
    gpus: 0,1,2,3
    fsdp_type: full_shard
    dp_shard: 4
    dp_replicate: 1
    compile: false
    model_dtype: bf16 # options: `fb8` is only supported by H100
    matmul_allow_tf32: false
    selective_activation_checkpointing: false
    tp_size: 1
    compile_cache_size_limit: 64
model:
    cfg_ratio: 0.1
    vae:
        pretrained_model_name_or_path: 'black-forest-labs/FLUX.1-dev'
    scheduler:
        num_train_timesteps: 1000
        base_image_seq_len: 256
        base_shift: 0.5
        max_image_seq_len: 4096
        max_shift: 1.15
        shift: 3.0 # need consider 3.0 or 1.0
        weighting_scheme: 'logit_normal'
        logit_mean: 0.0
        logit_std: 1.0
        mode_scale: 1.29
        use_dynamic_shifting: true
    gen_transformer:
        dim: 2048
        ffn_dim_multiplier: 1.5
        multiple_of: 256
        n_heads: 32
        n_kv_heads: 8
        n_layers: 16
        ada_dim: 2048
        patch_size: 2
        in_channels: 16
        out_channels: 16
        tmb_size: 256
        #cfg_drop_ratio: 0.1 # delete in v0.5
        #num_classes: 1000 # delete in v0.5
        gen_seqlen: 1000
        condition_seqlen: 1000
        norm_eps: 1e-5
        pre_trained_path: /jfs/checkpoints/Llama-3.2-1B/original/consolidated.00.pth
        attn_type: "bi_causal"
    plan_transformer:
        dim: 3072
        ffn_dim_multiplier: 1.0
        multiple_of: 256
        n_heads: 24
        n_kv_heads: 8
        n_layers: 28
        patch_size: 2
        in_channels: 16  
        vocab_size: 128256  
        text_seqlen: 256  
        gen_seqlen: 1024 
        rope_theta: 10000.0
        pre_trained_path: /jfs/checkpoints/Llama-3.2-3B/original/consolidated.00.pth
        attn_type: "full"
        max_seqlen: 1000
        norm_eps: 1e-5
    tokenizer:
        model_path: /jfs/checkpoints/Llama-3.2-3B/original/tokenizer.model

data:
    root_dir: '/mnt/data/imagenet'
    batch_size: 64
    image_size: 256
    num_workers: 8
    split: 'train'
    source: 'dummy'
profiling:
    run: true

checkpoint:
    dump:
        every: 2500
        keep: 0 # Don't remove the ckpt
    eval:
        every: 5000
        keep: 0 # Don't remove the ckpt

logging:
    freq: 100
    wandb:
        project: "Pollux"
        entity: "metauto"
        name: ""

eval:
    name: "debug_evals"
    ckpt_dir:  ""
    dump_dir: ""
    generator:
        guidance_scale: 3.0
        dtype: bf16
        resolution: 256
        show_progress: False
        inference_steps: 25
    sample_num: 256
    eval_data:
        root_dir: '/mnt/data/imagenet'
        batch_size: 64
        image_size: 256
        num_workers: 8
        split: 'validation'
