# Template config, need to change dump_dir, data.root_dir and data.tokenizer.path
# torchrun --standalone --nnodes 1 --nproc-per-node 4 -m apps.Latent_DiT.train config=apps/Latent_DiT/configs/LLAMA_Baseline_1B.yaml

name: "ImageNet_1B_BaseLine_256_Flux_LLAMA_Pre_Train_MC_1" # Mingchen: Please modify this (for local output and wandb name)
dump_dir: "" # Mingchen: No need to put now! I revise the code to flexible put `/mnt/data/dump` + name for dump_dir
steps: 100000
seed: 777
optim:
    lr: 5e-4
    warmup: 2000
    lr_min_ratio: 0.000001
    clip: 10.0

env:
    ENABLE_INTRA_NODE_COMM: '0' # disable one default seeting here, as have some error in our cluster

distributed:
    fsdp_type: full_shard
    dp_shard: 4
    dp_replicate: 1
    compile: false
    model_dtype: bf16
    matmul_allow_tf32: false
    selective_activation_checkpointing: false
    tp_size: 1

model:
    transformer:
        dim: 2048
        ffn_dim_multiplier: 1.5
        multiple_of: 256
        n_heads: 32
        n_kv_heads: 8
        n_layers: 16
        ada_dim: 512
        patch_size: 2
        in_channels: 16
        out_channels: 16
        tmb_size: 256
        cfg_drop_ratio: 0.1
        num_classes: 1000
        max_seqlen: 1000
        pre_trained_path: /mnt/data/Llama-3.2-1B/original/consolidated.00.pth
    scheduler:
        num_train_timesteps: 1000
        base_image_seq_len: 256
        base_shift: 0.5
        max_image_seq_len: 4096
        max_shift: 1.15
        shift: 3.0 # need consider 3.0 or 1.0
        weighting_scheme: 'logit_normal'
        logit_mean: 0.0
        logit_std: 1.0
        mode_scale: 1.29
    vae:
        pretrained_model_name_or_path: 'black-forest-labs/FLUX.1-dev'
        
data:
    root_dir: '/mnt/data/imagenet'
    batch_size: 90
    image_size: 256
    num_workers: 8

profiling:
    run: true

checkpoint:
    dump:
        every: 2500
        keep: 1
    eval:
        every: 5000
        keep: 1

logging:
    freq: 100
    wandb:
        project: "Pollux"
        entity: "metauto"
        name: ""
