# CUDA_VISIBLE_DEVICES=4,5,6,7 torchrun --nnodes 1 --nproc-per-node 4 --rdzv_endpoint=localhost:29400 -m apps.offline_inf.inference config=apps/offline_inf/configs/inference.yaml
name: "inference"
stage: inference # preliminary for test normal usage: inference 
dump_dir: "/mnt/pollux/test/save_parquet" # change dir
# s3://t2i-parquet/cc12m_r256_l3b128_s3/ # Not use s3
parque_size: 2048
prefix_mapping:
  "caption": "caption"
  "gen_latent_code": "HunyuanVideo_gen_latent_code"
  "plan_latent_code": "HunyuanVideo_plan_latent_code"
source_data:
  - stage: inference
    id: 1
    data_name: bucket-hq
    task: text_to_image
    source: mongodb
    image_size: 256
    condition_image_size: 256
    partition_key: 'partition_key'
    retries: 3
    extract_field:
        "media_path": "image"
    use: true
    dataloader:
        prefetch_factor: 2
        batch_size: 64
        num_workers: 16
        seed: 1024
        shuffle: True
        pin_memory: True
        drop_last: False

model:
    gen_vae:
        model_name: Hunyuan
        pretrained_model_name_or_path: '/jfs/checkpoints/models--tencent--HunyuanVideo/snapshots/2a15b5574ee77888e51ae6f593b2ceed8ce813e5/vae'
        enable_tiling: false
        enable_slicing: false
