# CUDA_VISIBLE_DEVICES=4,5,6,7 torchrun --nnodes 1 --nproc-per-node 4 --rdzv_endpoint=localhost:29400 -m apps.offline_inf.inference config=apps/offline_inf/configs/inference.yaml
name: "inference"
stage: inference # preliminary for test normal usage: inference 
dump_dir:  /jfs/data/cc12m_r256_l3b128_s3/ # change dir
s3_path: s3://t2i-parquet/cc12m_r256_l3b128_s3/ # change dir
parque_size: 1024
prefix_mapping:
  "text_embedding": "LLAMA3_3B_text_embedding"
  "latent_code": "HunyuanVideo_latent_code"

source_data:
  - stage: inference
    id: 1
    data_name: cc12m
    task: text_to_image
    source: mongodb
    image_size: 256
    partition_key: 'key'
    retries: 3
    extract_field:
        "s3url": "image"
    use: true
    query:
        aesthetic_score: {"$exists": True, "$gt": 6.5}
    dataloader:
        prefetch_factor: 2
        batch_size: 64
        num_workers: 16
        seed: 1024
        shuffle: True
        pin_memory: True
        drop_last: False

model:
    vae:
        model_name: Hunyuan
        pretrained_model_name_or_path: '/jfs/checkpoints/models--tencent--HunyuanVideo/snapshots/2a15b5574ee77888e51ae6f593b2ceed8ce813e5/vae'
        enable_tiling: true
        enable_slicing: true
    plan_transformer:
        dim: 3072
        ffn_dim_multiplier: 1.0
        multiple_of: 256
        n_heads: 24
        n_kv_heads: 8
        n_layers: 28 
        vocab_size: 128256  
        text_seqlen: 128 
        pre_trained_path: /jfs/checkpoints/Llama-3.2-3B/original/consolidated.00.pth
        norm_eps: 1e-5
    tokenizer:
        model_path: /jfs/checkpoints/Llama-3.2-3B/original/tokenizer.model
