# torchrun --nnodes 1 --nproc-per-node 2 -m apps.offline_inf.inference config=apps/offline_inf/configs/inference.yaml
name: "debug_evals"
stage: inference
collection_name: "post_cc12m_llama3b_token_hunyuan_256_latent_code"
dump_dir:  /jfs/data/tmp/hz_test/
prefix_mapping:
  "text_embedding": "LLAMA3_3B_text_embedding"
  "latent_code": "HunyuanVideo_latent_code"
source_data:
  - stage: inference
    id: 0
    task: text_to_image
    data_name: cc12m
    source: mongodb
    batch_size: 64
    image_size: 256
    num_workers: 8
    use: False
    retries: 3


model:
    vae:
        pretrained_model_name_or_path: '/jfs/checkpoints/models--tencent--HunyuanVideo/snapshots/2a15b5574ee77888e51ae6f593b2ceed8ce813e5/vae'
        enable_tiling: true
        enable_slicing: true
    plan_transformer:
        dim: 3072
        ffn_dim_multiplier: 1.0
        multiple_of: 256
        n_heads: 24
        n_kv_heads: 8
        n_layers: 28
        patch_size: 2
        in_channels: 32  
        vocab_size: 128256  
        text_seqlen: 128 
        pre_trained_path: /jfs/checkpoints/Llama-3.2-3B/original/consolidated.00.pth
        attn_type: causal
        norm_eps: 1e-5
    tokenizer:
        model_path: /jfs/checkpoints/Llama-3.2-3B/original/tokenizer.model
