# torchrun --nnodes 1 --nproc-per-node 8 -m apps.offline_inf.inference config=apps/offline_inf/configs/inference.yaml
name: "debug_evals"
stage: preliminary # preliminary for test normal usage: inference 
dump_dir:  /jfs/data/tmp/cc12m_test_100k/ # change dir
parque_size: 1024
prefix_mapping:
  "text_embedding": "LLAMA3_3B_text_embedding"
  "latent_code": "HunyuanVideo_latent_code"
source_data:
  - stage: inference
    id: 0
    task: text_to_image
    data_name: cc12m
    source: mongodb
    batch_size: 256
    image_size: 256
    num_workers: 32
    use: True
    retries: 3
    partition_key: "key"
  - stage: preliminary
    id: 1
    task: class_to_image
    data_name: imagenet-1k
    source: mongodb
    batch_size: 8
    image_size: 256
    num_workers: 8
    split: train
    partition_key: 'key'
    use: True

model:
    vae:
        pretrained_model_name_or_path: '/jfs/checkpoints/models--tencent--HunyuanVideo/snapshots/2a15b5574ee77888e51ae6f593b2ceed8ce813e5/vae'
        enable_tiling: true
        enable_slicing: true
    plan_transformer:
        dim: 3072
        ffn_dim_multiplier: 1.0
        multiple_of: 256
        n_heads: 24
        n_kv_heads: 8
        n_layers: 28 
        vocab_size: 128256  
        text_seqlen: 128 
        pre_trained_path: /jfs/checkpoints/Llama-3.2-3B/original/consolidated.00.pth
        norm_eps: 1e-5
    tokenizer:
        model_path: /jfs/checkpoints/Llama-3.2-3B/original/tokenizer.model
