kafka_topics:
  databaseCC12Mv2:
    partitions: 64
  downloadedImagesCC12Mv2:
    partitions: 16
  aestheticScoredImagesCC12Mv2:
    partitions: 16

stages:
  read_database:
    batch_size: 128
    num_shards: 1
    shard_idx: 0
    dataset: cc12m
    producer_list:
      - databaseCC12Mv2

  download_images:
    batch_size: 128    # per database partition
    consumer: databaseCC12Mv2
    producer_list:
      - downloadedImagesCC12Mv2

  aesthetic_scoring:
    batch_size: 128
    consumer: downloadedImagesCC12Mv2
    producer_list:
      - aestheticScoredImagesCC12Mv2

  update_database:
    dataset: cc12m
    consumer: aestheticScoredImagesCC12Mv2
