kafka_topics:
  database:
    name: database
    partitions: 16
  downloadedImages:
    name: downloadedImages
    partitions: 8
  aestheticScoredImages:
    name: aestheticScoredImages
    partitions: 16

stages:
  read_database:
    batch_size: 128
    num_shards: 2
    shard_idx: 0
    dataset: diffusion
    producer_list:
      - database

  download_images:
    batch_size: 64    # per database partition
    consumer: database
    producer_list:
      - downloadedImages

  aesthetic_scoring:
    batch_size: 128
    consumer: downloadedImages
    producer_list:
      - aestheticScoredImages

  update_database:
    dataset: diffusion
    consumer: aestheticScoredImages

