kafka_topics:
  database:
    name: database
    partitions: 64
  downloadedImages:
    name: downloadedImages
    partitions: 64
  aestheticScoredImages:
    name: aestheticScoredImages
    partitions: 16

stages:
  read_database:
    producer_list:
      - database

  download_images:
    batch_size: 16    # per database partition
    consumer: database
    producer_list:
      - downloadedImages

  aesthetic_scoring:
    batch_size: 16
    consumer: downloadedImages
    producer_list:
      - aestheticScoredImages

  update_database:
    consumer: aestheticScoredImages

