mongo_config:
  collection_name: midjourney_discord
  url_field: url
  caption_field: caption
  shard_key: hash
  update_field: clip_score
  num_shards: 1
  shard_idx: 0
  rate_limit: -1

kafka_topics:
  databaseMidJourneyDiscord:
    partitions: 64
  downloadedImagesMidJourneyDiscord:
    partitions: 32
  scoredImagesMidJourneyDiscord:
    partitions: 16

stages:
  read_database:
    batch_size: 128
    producer_list:
      - databaseMidJourneyDiscord

  download_images:
    batch_size: 128    # per database partition
    consumer: databaseMidJourneyDiscord
    producer: downloadedImagesMidJourneyDiscord

  aesthetic_scoring:
    batch_size: 128
    consumer: downloadedImagesMidJourneyDiscord
    producer_list:
      - scoredImagesMidJourneyDiscord

  update_database:
    consumer: scoredImagesMidJourneyDiscord
