kafka_topics:
  databasePD12M:
    partitions: 96
  downloadedImagesPD12M:
    partitions: 8
  aestheticScoredImagesPD12M:
    partitions: 16

stages:
  read_database:
    batch_size: 256
    num_shards: 1
    shard_idx: 0
    dataset: pd12m
    producer_list:
      - databasePD12M

  download_images:
    batch_size: 64    # per database partition
    consumer: databasePD12M
    producer_list:
      - downloadedImagesPD12M

  aesthetic_scoring:
    batch_size: 128
    consumer: downloadedImagesPD12M
    producer_list:
      - aestheticScoredImagesPD12M

  update_database:
    dataset: pd12m
    consumer: aestheticScoredImagesPD12M
