# python -m apps.Castor.generate config=apps/Castor/configs/eval.yaml
name: "debug_evals"
stage: eval
ckpt_dir: "/mnt/pollux/checkpoints/chandan/qwen2_5_vl_hunyuan_dynamic/checkpoints/0000007500"
dump_dir: "/mnt/pollux/checkpoints/chandan/qwen2_5_vl_hunyuan_dynamic/MJHQ/0000007500"
generator:
  guidance_scale: 6.5
  dtype: bf16
  resolution: 512
  show_progress: False
  inference_steps: 50
  vae_scale_factor: 8.0
  tvae:
    vae_type: hunyuan
    pretrained_model_name_or_path: '/mnt/pollux/checkpoints/HunyuanVideo/vae'
    enable_tiling: false
    enable_slicing: false
data:
  - stage: eval
    id: 1
    data_name: gen-eval
    task: latent_text_to_image
    source: mongodb
    partition_key: 'partition_key'
    mapping_field:
        "caption": "caption"
    use: False
    dataloader:
        batch_size: 64
        num_workers: 2
        seed: 1024
        shuffle: False
        pin_memory: False
        drop_last: False
  - stage: eval
    id: 2
    data_name: dpg-bench
    task: latent_text_to_image
    source: mongodb
    partition_key: 'partition_key'
    mapping_field:
        "caption": "caption"
    use: False
    dataloader:
        batch_size: 64
        num_workers: 2
        seed: 1024
        shuffle: False
        pin_memory: False
        drop_last: False
  - stage: eval
    id: 3
    data_name: MJHQ-30k
    task: latent_text_to_image
    source: mongodb
    partition_key: 'partition_key'
    mapping_field:
        "caption": "caption"
    use: True
    dataloader:
        batch_size: 64
        num_workers: 2
        seed: 1024
        shuffle: False
        pin_memory: False
        drop_last: False
  - stage: eval
    id: 3
    data_name: GenAI-Bench-1600
    task: latent_text_to_image
    source: mongodb
    partition_key: 'partition_key'
    mapping_field:
        "caption": "caption"
    use: False
    dataloader:
        batch_size: 64
        num_workers: 2
        seed: 1024
        shuffle: False
        pin_memory: False
        drop_last: False
  - stage: eval
    id: 3
    data_name: parti-prompts
    task: latent_text_to_image
    source: mongodb
    partition_key: 'partition_key'
    mapping_field:
        "caption": "caption"
    use: False
    dataloader:
        batch_size: 64
        num_workers: 2
        seed: 1024
        shuffle: False
        pin_memory: False
        drop_last: False