# python -m apps.gen_tran.generate config=apps/gen_tran/configs/eval.yaml
name: "debug_evals"
stage: eval
ckpt_dir: "/jfs/checkpoints/dump/Pollux_v1.0_latent_pollux_full_attn_from_scratch_clip_embedding_parquet/checkpoints/0000005000"
dump_dir: "/jfs/checkpoints/dump/Pollux_v1.0_latent_pollux_full_attn_from_scratch_clip_embedding_parquet/checkpoints/0000005000"
generator:
  guidance_scale: 2.5
  dtype: bf16
  resolution: 256
  show_progress: False
  inference_steps: 100
  vae_scale_factor: 8.0
  tvae:
    model_name: Hunyuan
    pretrained_model_name_or_path: '/jfs/checkpoints/models--tencent--HunyuanVideo/snapshots/2a15b5574ee77888e51ae6f593b2ceed8ce813e5/vae'
    enable_tiling: false
    enable_slicing: false
  text_encoder:
    config_name: "ViT-B/32"
  tokenizer:
      model_path: "/jfs/checkpoints/Llama-3.2-3B/original/tokenizer.model"