# torchrun --standalone --nnodes 1 --nproc-per-node 8 -m apps.gen_tran.train config=apps/gen_tran/configs/train.yaml

# Set up single experiment
version: v0.7
# From now on, start to align train, data, and model setting with train stage (just finish refactor for dara)
train_stage: preliminary # options: preliminary, pretraining, posttraining; aligned with data setting
name: Pollux_v0.7_gen_transformer_preliminary # used for local dump and wandb log
output_dir: /jfs/checkpoints/dump
dump_dir: '' # No need now
steps: 1000000
seed: 777
optim:
    lr: 1.4e-4
    warmup: 2000
    lr_min_ratio: 0.000001
    clip: 10.0
    weight_decay: 0.01

distributed:
    gpus: 0,1,2,3,4,5,6,7
    fsdp_type: full_shard
    dp_shard: 8
    dp_replicate: 1
    compile: false
    model_dtype: bf16 # options: `fb8` is only supported by H100
    matmul_allow_tf32: false
    selective_activation_checkpointing: false
    tp_size: 1
    compile_cache_size_limit: 64

model:
    text_cfg_ratio: 0.1
    image_cfg_ratio: 0.1
    mask_patch: 16
    num_classes: 1000
    vae:
        pretrained_model_name_or_path: '/jfs/checkpoints/models--tencent--HunyuanVideo/snapshots/2a15b5574ee77888e51ae6f593b2ceed8ce813e5/vae'
        enable_tiling: false
        enable_slicing: false
    scheduler:
        num_train_timesteps: 1000
        base_image_seq_len: 256
        base_shift: 0.5
        max_image_seq_len: 4096
        max_shift: 1.15
        shift: 3.0 # need consider 3.0 or 1.0
        weighting_scheme: 'logit_normal'
        logit_mean: 0.0
        logit_std: 1.0
        mode_scale: 1.29
        use_dynamic_shifting: true
    gen_transformer:
        dim: 2048
        ffn_dim_multiplier: 1.5
        multiple_of: 256
        n_heads: 32
        n_kv_heads: 8
        n_layers: 16
        ada_dim: 2048
        patch_size: 2
        in_channels: 16
        out_channels: 16
        tmb_size: 256
        gen_seqlen: 256
        condition_seqlen: 320
        norm_eps: 1e-5
        pre_trained_path: /jfs/checkpoints/Llama-3.2-1B/original/consolidated.00.pth
        attn_type: 'bi_causal'
    plan_transformer:
        dim: 2048
        ffn_dim_multiplier: 1.5
        multiple_of: 256
        n_heads: 32
        n_kv_heads: 8
        n_layers: 16
        patch_size: 2
        in_channels: 32  
        vocab_size: 128256  
        text_seqlen: 32 
        gen_seqlen: 256 
        pre_trained_path: /jfs/checkpoints/Llama-3.2-1B/original/consolidated.00.pth
        attn_type: bi_causal
        norm_eps: 1e-5
    tokenizer:
        model_path: /jfs/checkpoints/Llama-3.2-1B/original/tokenizer.model

data:
  - stage: preliminary
    id: 0
    task: class_to_image
    data_name: ILSVRC/imagenet-1k
    source: huggingface
    batch_size: 96
    image_size: 256
    num_workers: 8
    split: train
    root_dir: /jfs/data
    cache_dir: /jfs/data/imagenet-1k
    use: False

  - stage: preliminary
    id: 1
    task: class_to_image
    data_name: imagenet-1k
    source: mongodb
    batch_size: 96
    image_size: 256
    num_workers: 8
    split: train
    partition_key: 'key'
    use: True
  
  - stage: preliminary
    id: 2
    task: text_to_image
    data_name: cc12m
    source: mongodb
    batch_size: 12
    image_size: 256
    num_workers: 8
    partition_key: 'key'
    retries: 3
    use: False

  - stage: preliminary
    id: 2
    task: class_to_image
    data_name: dummy
    source: local
    batch_size: 12
    image_size: 256
    num_workers: 8
    split: train
    root_dir: /jfs/data
    cache_dir: ''
    use: False

  - stage: pretraining
    id: 0
    task: image_generation
    data_name: NucluesIMG-100M
    source: mongodb
    batch_size: 12
    image_size: 256
    num_workers: 8
    mongo_uri: mongodb://localhost:27017
    use: False


profiling:
    run: true

checkpoint:
    dump:
        every: 2500
        keep: 0 # Don't remove the ckpt
    eval:
        every: 5000
        keep: 0 # Don't remove the ckpt

logging:
    freq: 100
    wandb:
        project: Pollux
        entity: metauto
        name: ''

env:
    ENABLE_INTRA_NODE_COMM: '0'  # '0' for local machine (otherwise errors happen); '1' for slurmn (need test)
