# OMP_NUM_THREADS=16 torchrun --standalone --nnodes 1 --nproc-per-node 4 -m apps.gen_tran.train config=apps/gen_tran/configs/train_bucket_256.yaml

# Set up single experiment
version: v1.0
# From now on, start to align train, data, and model setting with train stage (just finish refactor for dara)
train_stage: stage-1 # options: preliminary, pretraining, posttraining; aligned with data setting
name: Pollux_v1.0_latent_pollux_full_attn_from_scratch_clip_embedding_parquet # used for local dump and wandb log
output_dir: /jfs/checkpoints/dump
dump_dir: '' # No need now
steps: 1000000
seed: 777
optim:
    lr: 1.4e-4
    warmup: 2000
    lr_min_ratio: 0.000001
    clip: 10.0
    weight_decay: 0.01

distributed:
    gpus: 0,1,2,3
    fsdp_type: full_shard
    dp_shard: 4
    dp_replicate: 1
    compile: false
    model_dtype: bf16 # options: `fb8` is only supported by H100
    matmul_allow_tf32: false
    selective_activation_checkpointing: false
    tp_size: 1
    compile_cache_size_limit: 64

model:
    text_cfg_ratio: 0.1
    scheduler:
        num_train_timesteps: 1000
        base_image_seq_len: 256
        base_shift: 0.5
        max_image_seq_len: 4096
        max_shift: 1.15
        shift: 1.0 # need consider 3.0 or 1.0
        weighting_scheme: 'logit_normal'
        logit_mean: 0.0
        logit_std: 1.0
        mode_scale: 1.29
        use_dynamic_shifting: true
    gen_transformer:
        dim: 2048
        ffn_dim_multiplier: 1.5
        multiple_of: 256
        n_heads: 32
        n_kv_heads: 8
        n_layers: 16
        ada_dim: 2048
        patch_size: 2
        in_channels: 16
        out_channels: 16
        tmb_size: 256
        gen_seqlen: 256
        condition_seqlen: 320
        norm_eps: 1e-5
        pre_trained_path:  /jfs/checkpoints/Llama-3.2-1B/original/consolidated.00.pth
        attn_type: 'full'
    plan_transformer:
        dim: 512
data:  
  - stage: stage-1
    id: 1
    data_name: bucket-256-parquet
    task: latent_text_to_image
    source: mongodb
    partition_key: 'partition_key'
    retries: 3
    extract_field:
        "parquet_size": "sample_num"
        "parquet_path": "path"
    mapping_field:
        "HunyuanVideo_latent_code": "latent_code"
        "CLIP_text_embedding": "text_embedding"
    use: True
    dataloader:
        batch_size: 64
        num_workers: 4
        seed: 1024
        shuffle: False
        pin_memory: False
        drop_last: False

profiling:
    run: false

checkpoint:
    dump:
        every: 5000
        keep: 0 # Don't remove the ckpt
    eval:
        every: 5000
        keep: 0 # Don't remove the ckpt

logging:
    freq: 100
    wandb:
        project: Pollux
        entity: metauto
        name: ''

env:
    ENABLE_INTRA_NODE_COMM: '0'  # '0' for local machine (otherwise errors happen); '1' for slurmn (need test)