# find /jfs/data/imagenet-1k/ -type f -name "*.lock" -exec rm -f {} \;
# torchrun --standalone --nnodes 1 --nproc-per-node 4 -m apps.plan.train config=apps/plan/configs/train.yaml

# Set up single experiment
version: v0.8
# From now on, start to align train, data, and model setting with train stage (just finish refactor for dara)
train_stage: preliminary # options: preliminary, pretraining, posttraining; aligned with data setting
name: Pollux_v0.8_MongoDB_ImageNet-1k_multimodal
output_dir: /jfs/checkpoints/dump
dump_dir: '' # No need now
steps: 1000000
seed: 777
optim:
    lr: 1.4e-4
    warmup: 2000
    lr_min_ratio: 0.000001
    clip: 10.0
    weight_decay: 0.01

distributed:
    gpus: 4,5,6,7
    fsdp_type: full_shard
    dp_shard: 4
    dp_replicate: 1
    compile: false
    model_dtype: bf16 # options: `fb8` is only supported by H100
    matmul_allow_tf32: false
    selective_activation_checkpointing: false
    tp_size: 1
    compile_cache_size_limit: 64

model:
    text_cfg_ratio: 0.1
    image_cfg_ratio: 0.1
    mask_patch: 32
    num_classes: 1000
    vision_tower:
        model_name: siglip_large_patch16_256
        image_size: 256
        pre_trained_path: /jfs/checkpoints/siglip_pretrained/siglip_large_patch16_256.pth
        select_feature: patch
        select_layer: -2
        pixel_mean: null
        pixel_std: null
    # llm:

data:
  - stage: preliminary
    id: 0
    task: class_to_image
    data_name: ILSVRC/imagenet-1k
    source: huggingface
    batch_size: 24 #96
    image_size: 256
    num_workers: 8
    split: train
    root_dir: /jfs/data
    cache_dir: /jfs/data/imagenet-1k
    use: True

  - stage: preliminary
    id: 1
    task: class_to_image
    data_name: imagenet-1k
    source: mongodb
    batch_size: 48 #96
    image_size: 256
    num_workers: 8
    split: train
    partition_key: 'key'
    use: False


  - stage: preliminary
    id: 2
    task: class_to_image
    data_name: dummy
    source: local
    batch_size: 12
    image_size: 256
    num_workers: 8
    split: train
    root_dir: /jfs/data
    cache_dir: ''
    use: False

  - stage: pretraining
    id: 0
    task: image_generation
    data_name: NucluesIMG-100M
    source: mongodb
    batch_size: 12
    image_size: 256
    num_workers: 8
    mongo_uri: mongodb://localhost:27017
    use: False

profiling:
    run: true

checkpoint:
    dump:
        every: 500
        keep: 0 # Don't remove the ckpt
    eval:
        every: 5000
        keep: 0 # Don't remove the ckpt
logging:
    freq: 100
    wandb:
        project: Pollux
        entity: metauto
        name: ''

env:
    ENABLE_INTRA_NODE_COMM: '0'  # '0' for local machine (otherwise errors happen); '1' for slurmn (need test)