name: "debug_evals"
ckpt_dir:  /mnt/data/dump/ImageNet_1B_BaseLine_256_Flux/checkpoints/0000027500/
dump_dir: /home/haozhe/project/lingua_videogen
generator:
  guidance_scale: 5.0
  dtype: bf16
  resolution: 256
  show_progress: False
  inference_steps: 25